*{
				margin: 0;
				padding: 0;
			}
			

html{
	width: 100%;
	height: 100%;
}
body{
	text-align: center;
				-webkit-user-select: none;
				width: 100%;
				height: 100%;
				box-sizing: border-box;
	overflow: hidden;
}
	
@keyframes rotate
{
0% {transform: rotate(0deg);}
      100% {transform: rotate(-360deg);}
}
 
@-webkit-keyframes rotate /* Safari 与 Chrome */
{
   0% {transform: rotate(0deg);}
      100% {transform: rotate(-360deg);}
}


/*bg sm*/
@keyframes scale
{
0% {transform: scale(.9);}
      100% {transform: scale(1);}
}
 
@-webkit-keyframes rotate /* Safari 与 Chrome */
{
0% {transform: scale(.9);}
      100% {transform: scale(1);}
}
.swiper-slide .one_one{
	width: 100%;
	height: 100%;
	position: fixed;
		left: 0;
		top: 0;
		background:left top url(../img/main/main_bg.png) no-repeat;
		background-size: cover;
}
.one_one	.body_bg{
		position: fixed;
		left: 0;
		top: 0;
			width: 100%;
			height: 100%;
		
	}
.one_one	.body_bg img{
		width: 100%;
		height: 100%;
	}	
	/*.swiper-wrapper{
		position: relative;
	}*/
.music{
	    width:.24rem;
		height:.24rem;
    position: absolute;
    right: .26rem;
    top: .26rem;
	border-radius:50%;
	animation: rotate 1s linear 1s infinite;
    /* Safari 与 Chrome: */
    -webkit-animation: rotate 1s linear 1s infinite;
    border: 1px solid #fff;
    z-index: 5;
}
.music img{
	width: 100%;
	height: 100%;
}

.one_one .header .logo{
width:2.26rem;
height:.58rem;
padding-top: .26rem;
margin: 0 auto;
}
.one_one .header .logo img{
	width: 100%;
	height: 100%;
}


/*-----section-------*/
.one_one .section {
	width: 100%;
}
.one_one .section .banner{
	width:3.38rem;
    height:1.67rem;
    position: absolute;
    top: .25rem;
    left: .16rem;
    /*animation: bounceInDown 1.5s linear .2s;
    /* Safari 与 Chrome: 
    -webkit-animation: bounceInDown 1.5s linear .2s;*/
}
.one_one .section .banner img{
	width: 100%;
	height: 100%;
}


/*footer*/
.one_one .footer{
	width: 100%;
	height: .69rem;
	position: absolute;
	bottom: 0;
	z-index: 1;
}
.one_one .footer .button{
 position: absolute;
 bottom: .38rem;
 width: 1.54rem;
	height: .53rem;
	z-index: 3;
	left: 1.11rem;
	/* animation: lightSpeedIn 1s linear .1s;*/
    /* Safari 与 Chrome: */
    /*-webkit-animation: lightSpeedIn 1s linear .1s;*/
}
.one_one .footer .button img{
	width: 100%;
	height: 100%;
}
.one_one .footer .round{
  position: absolute;
  bottom: 0;
  z-index: 2;
  /*animation: fadeInUp 1.5s linear .1s;*/
    /* Safari 与 Chrome: */
    /*-webkit-animation: fadeInUp 1.5s linear .1s;*/
    width: 100%;
    height: 100%;
}
.one_one .footer .round img{
	width: 100%;
	height: 100%;
}


/*second*/

.two_two{
	width: 100%;
    height: 100%;
		background:left top url(../img/second/bg.png) no-repeat;
		background-size: cover;
		position: absolute;
	left: 0;
	top: 0;
}
.two_two .rules{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
    height: 100%;
    background:left top url(../img/four/1.png) no-repeat;
    background-size: contain;
}

.two_two .rules .rule_bg{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
    height: 100%;
}
.two_two .rules .center{
	position: absolute;
    top: 2.4rem;
    left: .28rem;
}
.two_two .rules .center .biaoti{
	margin: 0 auto;
	width: 1.48rem;
	height: .22rem;
}
.two_two .rules .center .zone{
	width: 3.1rem;
	margin-top: .23rem;
}
.two_two .rules .center .zone ul{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}
.two_two .rules .center .zone ul li{
	width: 1.3rem;
	height: 1.2rem;
	margin-bottom: .05rem;
}
/*.second {
	display: none;
}*/
.two_two .second .choose{
	width: 3.43rem;
    height: 2.16rem;
		background:left top url(../img/second/choose.png) no-repeat;
		background-size: cover;
		position: absolute;
		top: .43rem;
		left: .16rem;
}
.two_two .second .choose .title{
	width: 2.58rem;
	height: .4rem;
	margin-left:.82rem;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	color: #fff;
}
.two_two .second .choose .title .name{
	font-size: .17rem;
	margin-right: .34rem;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}
.two_two .second .choose .title .name img{
	width: .16rem;
	height: .16rem;
	margin-right: .06rem;
}
.two_two .second .butt{
	    /* margin-top: 3.6rem; */
    width: 1.36rem;
    height: .47rem;
    position: absolute;
    top: 4.47rem;
    left: 1rem;
}
.two_two .second .butt img{
	width: 100%;
	height: 100%;
}
.two_two .second .choose .title .change{
	font-size: .12rem;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}
.two_two .second .choose .title .change .img{
	width: .13rem;
	height: .13rem;
	margin-right: .06rem;
}
.two_two .second .choose .title .change .img img{
	width: 100%;
	height: 100%;
}

.two_two .second .area{
	/*padding-left: .1rem;*/
}
.two_two .second .area ul{
	width: 100%;
	height: 1.76rem;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
}
.two_two .second .area ul li{
	/*height: .67rem;*/
	width: .73rem;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	color: #C8E945;
	font-size: .12rem;
	
}
.two_two .second .area ul li img{
	height: .48rem;
	width: .73rem;
}


.two_two .bat{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
    height: 100%;
    background:#33ca92 ;
}
.two_two .bat .bat_img{
	position: absolute;
	    left: .12rem;
    top: 1rem;
    width: 3.5rem;
    height: 3.3rem;
}
.two_two .bat .bat_img #bat{
	    width: 1.4rem;
    height: .5rem;
    background: #000;
    position: absolute;
    left: 1.1rem;
    top: 2.75rem;
    opacity: 0;
}